@import './mixins';
@import 'normalize.css';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper {
  background-color: #eee;
  padding: 0 30px;
  padding-top: 2.5%;
  min-height: calc(100vh - 90px);
}

.image {
  @include thumbnail;
}

.short-description {
  margin-left: 40px;
}

.text {
  grid-column-start: 1;
  grid-column-end: span 3;
}
