$sassy-accent-color: #29b6f6;
@import '../../node_modules/sassy-inputs/sass/main.scss';

@import './var';
@import './mixins';
@import 'normalize.css';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: nth($breakpoints, 2) - 1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  text-align: center;
}

.wrapper {
  background-color: #eee;
  padding: 0 30px;
  padding-top: 2.5%;
  min-height: calc(100vh - 90px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  @include thumbnail;
  width: 40vw;

  @media (max-width: nth($breakpoints, 2) - 1) {
    width: 90vw;
  }
}

@media (min-width: nth($breakpoints, 2) - 1) {
  .short-description {
    margin-left: 40px;
  }
}

.text {
  grid-column-start: 1;
  grid-column-end: span 3;
}

.check-order {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 60%;
  margin-top: 3%;

  #order-id {
    @include sassy-text;
  }

  #submit {
    @include sassy-button;
    color: white;
  }
}
