@import './var';
@import './mixins';
@import 'normalize.css';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: nth($breakpoints, 2) - 1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  text-align: center;
}

.wrapper {
  background-color: #eee;
  padding: 0 30px;
  padding-top: 2.5%;
  min-height: calc(100vh - 90px);
}

.image {
  @include thumbnail;
  width: 40vw;

  @media (max-width: nth($breakpoints, 2) - 1) {
    width: 90vw;
  }
}

@media (min-width: nth($breakpoints, 2) - 1) {
  .short-description {
    margin-left: 40px;
  }
}

.text {
  grid-column-start: 1;
  grid-column-end: span 3;
}
