@import './var';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Lexend+Peta&display=swap&subset=latin-ext');

body {
  font-family: B612, sans-serif;
  font-family: 'Lexend Peta', sans-serif;
  @include center;
  flex-direction: column;
}

.navigation {
  position: relative;
  background: $topbar-bg;
  width: 100%;
  box-shadow: 0 2px 7px -3px #000;

  @include center;

  &__container {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    font-size: 1.3em;

    border-radius: 1px;
    transition: .15s ease-in background-color;
    will-change: background-color;
    user-select: none;

    &:hover {
      background-color: darken($topbar-bg, 5%);
    }
  }
}

.indicator {
  $height: 7.5px;

  position: absolute;
  bottom: -$height;
  left: 0;

  // width: 100%;
  height: $height;
  background: $indicator-color;
}
