/* stylelint-disable */
@use "sass:list";
@import './var';
@import './mixins';
@import 'normalize.css';

.portraits {
  $img-width: 15vw, 33vmax, 45vmax;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: nth($breakpoints, 3)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: nth($breakpoints, 4)) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__image {
    cursor: pointer;
    margin: nth($img-width, 1) * 1/3;
    @include shadow;
    @include size(nth($img-width, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      text-align: center;
    }

    @media (max-width: nth($breakpoints, 3)) {
        @include size(nth($img-width, 2));
        margin: nth($img-width, 2) * 1/3;
    }

    @media (max-width: nth($breakpoints, 4)) {
        @include size(nth($img-width, 3));
    }

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

    position: relative;

    .short-desc {
        position: absolute;
        top: 105%;
        white-space: nowrap;

        @media (max-width: nth($breakpoints, 3)) {
            text-align: center;
            width: 100%;
        }
    }

    .description {
        display: none;
    }

    @media (min-width: nth($breakpoints, 3)) {
        &--first {
            grid-column-start: 1;
            grid-column-end: span 3;
        }
    }

    $images:
      '1.Roma_Gorczyca.jpg',
      '2.Michal_Wilczak.jpg',
      '3.Jacek_Garlicki.jpg',
      '4.Karol_Wozniak.jpg',
      '5.Mikolaj_Biernacki.jpg',
      '6.Tomek_Slocinski.jpg',
      '7.Milosz_Wisniewski.png';

    @for $i from 1 through list.length($images) {
      &:nth-child(#{$i}) {
          background-image: url('/img/persons/' + nth($images, $i));
      }
    }
  }
}
